/BooleanExaple.class
/CastingExample.class
/CharExample.class
/FloatDoubleExample.class
/IntegerliteralExaple.class
/OperationPromotionExample.class
/PrimittiveAndStringConversionExaple.class
/PrintfExaple.class
/PromotionExample.class
/ScannerExaple.class
/StingConcatExample.class
/StringExaple.class
/VariableScopeExaple.class
/VariableinitializationExample.class
